<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <appSettings>
    <add key="opcID" value="Graybox.Simulator" />

    <add key="checkTags" value="numeric.sin.int16,storage.bool.reg02" />
    <!-- ee;0 (equal 0) mean that program will send message then storage.bool.reg01 = 0 -->
    <add key="tagsConditions" value="ge;90,ee;1" />
    <add key="message" value="Внимание Авария (высокая температра)!,ALARM!!!" />
    <add key="abonents" value="702xxxx" />
    <add key="refreshTime" value="1000" />
    <!-- "yes" or "no" to show values in console -->
    <add key="consoleOutput" value="yes" />
    <!-- after urlPrefix automatically adds this: ?text=TimeNow+message&chat_id=abonents -->
    <!-- for example you can use urlPrefix https://api.telegram.org/bottoken/sendMessage -->
    <add key="urlPrefix" value="https://link.to/your/bot.php" />
  </appSettings>
</configuration>